{% extends 'base.html.twig' %}

{% block body %}

<h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, maxime unde 
    vel fugit harum libero praesentium delectus enim quos repellendus voluptatibus beatae, amet dignissimos a qui dolorem eligendi adipisci dolores voluptatem architecto quisquam voluptas! Molestiae eos officiis, ex, sed earum neque amet quas animi vel accusamus mollitia id doloribus iusto.
</h4>
{% endblock %}



