{% extends 'base.html.twig' %}

{% block body %}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate laborum praesentium reprehenderit porro rerum ducimus, iure possimus numquam 
cum excepturi.</p>

<ul>
    <li>
        <a href="{{  url('recipe.show', {id:32, slug: 'pate-bolognaise'} )  }}">Pate bolognaise</a>
    </li>
</ul>
{% endblock %}



